<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Numerology App</title>
  <meta name="description" content="Numerology App">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <p><%= yield %></p>
  <script src="js/scripts.js"></script>
</body>
</html>
